
body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.box {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; 
  z-index: 0;
  background: url(images/background.jpg) no-repeat center 0;
  background-position: center top;
  background-size: cover;
}
.header {
  position: relative;
  z-index: 61;
}
.hdr {
  position: relative;
}
.banner {
  margin: 0 auto;
  min-height: 800px;
  overflow: hidden;
  padding: 68px 0 0;
  position: relative;
  width: 100%; 
  z-index: 0;
  background: url(images/layer_1.jpg) no-repeat center 0;
  background-position: center top;
  background-size: cover;
}
.logo {
  margin: 0 auto;
  overflow: hidden;
  padding: 86px 0 67px;
  position: relative;
  width: 21.328125%; 
  z-index: 66;
  border-radius: 50%;
  background: #000000;
}
.logo-2 {
  display: block;
  margin: 0 auto;
  max-width: 169px;
  width: 61.904762%; 
}
.layer-2-holder {
  margin: -191px auto 0;
  min-height: 650px;
  padding: 257px 0 270px;
  position: relative;
  width: 100%; 
  z-index: 62;
  background: url(images/layer_2.png) no-repeat center 0;
  background-position: center top;
  background-size: cover;
}
.text {
  margin: 0 auto;
  width: 62.109375%; 
  text-align: center;
}
.text > * {
  font-size: 308.43756%; 
  line-height: 125.63323%; 
  text-align: center;
  text-transform: uppercase;
}
.call-to {
  margin: -221px auto 0;
  min-height: 334px;
  padding: 30px 0 25px;
  position: relative;
  width: 26.171875%; 
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.28); /*outer glow, drop shadow*/
}
.rounded-rectangle-16-holder {
  margin: 0 auto;
  min-height: 38px;
  padding: 0 4.179104%; 
  width: 79.402985%; 
  border: 1px solid #e5e5e5; 
  border-radius: 3px;
  background: #ffffff;
  background-clip: padding-box; 
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.09);
  color: #b4adad;
  font-size: 95.93756%; 
  line-height: 38px;
}
.row {
  margin: 23px 0 0;
  position: relative;
}
.wrapper-5 {
  float: left;
  height: 87px;
  margin: 0 -0.298507% 0 0; 
  position: relative;
  width: 80%; 
}
.layer-14 {
  left: 46.641792%;
  position: absolute;
  top: 42px;
  width: 85px;
}
.layer-15 {
  left: 20.895523%;
  position: absolute;
  top: 44px;
  width: 76px;
}
.layer-3 {
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}
.layer-4 {
  left: 73.13433%;
  position: absolute;
  top: 43px;
  width: 71px;
}
.layer-6 {
  left: 50.74627%;
  position: absolute;
  top: 0;
  width: 53px;
}
.layer-7 {
  left: 70.522385%;
  position: absolute;
  top: 0;
  width: 79px;
}
.layer-9 {
  left: 0;
  position: absolute;
  top: 44px;
  width: 59px;
}
.layer-13 {
  left: 24.626865%;
  position: absolute;
  top: 0;
  width: 70px;
}
.col-6 {
  float: left;
  position: relative;
  width: 20.298508%; 
}
.layer-5 {
  display: block;
  margin: 0 auto;
  width: 66px;
}
.layer-12 {
  display: block;
  margin: 0 auto;
  width: 68px;
}
.text-3 {
  margin: 23px auto 0;
  position: relative;
  right: 3.880597%;
  width: 73.731346%; 
  color: #938e8e;
  font-size: 95.93756%; 
  line-height: 1.2;
  text-align: center;
}
.rounded-rectangle-1-holder {
  margin: 23px auto 0;
  min-height: 45px;
  padding: 0 9.850746%; 
  position: relative;
  right: 1.940299%;
  width: 57.313435%; 
  border-radius: 1.63px;
  background: #227dd3;
  font-size: 160.31256%; 
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
.main-content-wrapper {
  margin: 51px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 7;
}
.boxes {
  margin: 0 auto;
  position: relative;
  width: 68.90625%; 
}
.documents {
  float: left;
  margin: 6px 6.122449% 0 0; 
  position: relative;
  width: 46.825397%; 
}
.pages {
  float: left;
  min-height: 121px;
  padding: 0 0 5px;
  position: relative;
  width: 23.00242%; 
  background: url(images/rounded_rectangle_14.png) no-repeat center 0;
}
.shape-24 {
  display: block;
  position: relative;
  width: 21px;
}
.wrapper-2 {
  height: 94px;
  margin: -1px 0 0;
  position: relative;
  width: 78.947365%; 
}
.shape-25 {
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
}
.shape-25-copy {
  left: 64%;
  position: absolute;
  top: 72px;
  width: 22px;
}
.shape-26 {
  left: 0;
  position: absolute;
  top: 14px;
  width: 74px;
}
.forme-175 {
  left: 32%;
  position: absolute;
  top: 14px;
  width: 51px;
}
.col-3 {
  float: right;
  margin: 9px 0 0;
  position: relative;
  width: 69.975784%; 
}
.documents-2 {
  color: #000000;
  font-size: 170.93756%; 
  font-weight: 600;
  text-align: left;
}
.text-5 {
  margin: 8px 0 0;
  color: #4f4e4e;
  font-size: 87.5%; 
  line-height: 164.28572%; 
}
.photos {
  float: left;
  position: relative;
  width: 47.052155%;
}
.camera {
  float: left;
  min-height: 127px;
  padding: 0 0 5px;
  position: relative;
  width: 24.578314%; 
  background: url(images/rounded_rectangle_14_2.png) no-repeat center 0;
}
.shape-24-2 {
  display: block;
  position: relative;
  width: 23px;
}
.wrapper-3 {
  height: 98px;
  margin: -1px 0 0;
  position: relative;
  width: 83.333336%; 
}
.shape-25-2 {
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}
.shape-29 {
  left: 1.176471%;
  position: absolute;
  top: 10px;
  width: 81px;
}
.camera-2 {
  left: 23.529411%;
  position: absolute;
  top: 9px;
  width: 65px;
}
.col-4 {
  float: right;
  margin: 14px 0 0;
  position: relative;
  width: 69.63856%; 
}
.photos-2 {
  color: #000000;
  font-size: 170.93756%; 
  font-weight: 600;
}
.text-6 {
  margin: 8px 0 0;
  width: 100%; 
  color: #4f4e4e;
  font-size: 87.5%; 
  line-height: 164.28572%; 
}
.sec-1 {
  margin: 107px 0 0;
  min-height: 921px;
  overflow: hidden;
  padding: 86px 0;
  position: relative;
  z-index: 0;
  background: #5fc18b;
}
.layer {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 0.664063%;
  width: 155px;
  z-index: 9;
}
.text-7 {
  margin: 27px 35.15625% 0; 
  position: relative;
  z-index: 10;
  font-size: 245.93756%; 
  font-weight: 600;
  text-align: left;
}
.shadow {
  display: block;
  margin: -226px auto 0;
  max-width: 502px;
  position: relative;
  right: 14.375%;
  width: 39.21875%; 
  z-index: 8;
}
.text-8 {
  margin: -247px auto 0;
  position: relative;
  width: 51.171875%; 
  z-index: 11;
  font-size: 87.5%; 
  line-height: 164.28572%; 
}
.sec2 {
  height: 953px;
  margin: -378px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%; 
  background: url(images/shape_30.png) no-repeat center 0;
  background-size: cover;
}
.bg {
  left: 0;
  position: absolute;
  top: 18px;
  width: 100%; 
}
.shadow-2 {
  left: 0;
  max-width: 503px;
  position: absolute;
  top: 377px;
  width: 39.296875%; /* 503px / 1280px = 39.296875% */
}
.layer-2 {
  left: 18.046875%;
  max-width: 274px;
  position: absolute;
  top: 376px;
  width: 21.40625%; /* 274px / 1280px = 21.40625% */
}
.rounded-rectangle-17-holder {
  left: 44.765625%;
  min-height: 57px;
  padding: 9px 0 14px;
  position: absolute;
  top: 620px;
  width: 15.78125%; /* 202px / 1280px = 15.78125% */
  border: 3px solid #ffffff; 
  border-radius: 8px;
  font-size: 170.93756%; 
  font-weight: 600;
  text-align: center;
}
.text-9 {
  left: 43.828125%;
  position: absolute;
  top: 359px;
  font-size: 245.93756%; /* 39.35px / 16px = 245.93748% */
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
.text-10 {
  left: 44.453125%;
  position: absolute;
  top: 419px;
  width: 39.21875%; 
  font-size: 87.5%; 
  line-height: 164.28572%; 
}
.contact {
  margin: -144px 0 0;
  padding: 161px 0 44px;
  position: relative;
  width: 100%; 
  background: url(images/layer_16.jpg) no-repeat center 0;
  background-position: center top;
  background-size: cover;
}
.col {
  margin: 0 auto;
  min-height: 430px;
  padding: 111px 0 45px;
  position: relative;
  width: 33.59375%; 
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07); 
}
.rectangle-2-holder {
  margin: 0 auto;
  min-height: 33px;
  padding: 0 3.488372%; 
  position: relative;
  width: 64.4186%; 
  border: 1px solid #d8d8d8; 
  background: #ffffff;
  background-clip: padding-box; 
}
.name {
  opacity: 0.5;
  color: #4c505d;
  font-size: 87.5%; 
  line-height: 33px;
}
.rectangle-2-copy-holder {
  margin: 13px auto 0;
  min-height: 33px;
  padding: 0 2.55814%; 
  position: relative;
  width: 64.4186%; 
  border: 1px solid #d8d8d8; 
  background: #ffffff;
  background-clip: padding-box; 
}
.text-11 {
  opacity: 0.5;
  color: #4c505d;
  font-size: 87.5%; 
  line-height: 33px;
}
.rectangle-2-copy-2-holder {
  margin: 14px auto 0;
  min-height: 82px;
  padding: 10px 3.023256% 54px; 
  position: relative;
  width: 64.4186%; 
  border: 1px solid #d8d8d8; 
  background: #ffffff;
  background-clip: padding-box; 
}
.message {
  opacity: 0.5;
  color: #4c505d;
  font-size: 87.5%; 
}
.shape-5 {
  display: block;
  margin: 32px auto 0;
  width: 66px;
}
.footer {
  margin: -2px 0 0;
  min-height: 49px;
  padding: 19px 0 14px;
  position: relative;
  z-index: 3;
  background: #43a06d;
}
.text-12 {
  text-align: center; 
}
.text-12 > * {
  font-size: 87.5%; 
}
.text-style {
  line-height: 23px;
}
.fw700 {
  font-weight: bold;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}